@font-face {
  font-family: archia;
  src: url(assets/archia-regular-webfont.woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: archia;
     outline: none;
}

/* header{
    height: 85vh;
} */
img{
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem;
    border-bottom: 1px solid black;
}
.home-button{
    color: black;
    white-space: nowrap;
    text-align: left;
}

.big-heading{
    margin-bottom: 4rem;
}

.footer{
     border-bottom: none;
      font-size: small;
}

nav ul {
    display: flex;
}

nav ul li{
    padding-right: 2rem;

}

body{
    background-color: #FDF6E9;
}

header h1{
    margin: 1rem;
    Font-size: 12vw;
    white-space: nowrap;
}

.selected-work{
   border-bottom: 1px solid black;
   margin: 1rem;
   margin-bottom: 3rem;
   font-size: small;
   padding-bottom: 0.3rem;
  
}


.project-container h2{
    padding-top: 1rem;
    
}
.project-container{
    position: relative;
    height: 25rem;
    width: 20rem;
}
iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.img-container{
    width: 20rem;
    height: 20rem;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image{
    width: 50%;
    grid-area: image;
    display: grid;
    place-self: center;
    padding-bottom: 1rem;
}




/* arrow header */
svg{
   height: 7vw; margin-left: 1rem;
}

.about-box{
    padding: 12vw;
    line-height: 1.8;
    font-size: x-large;

}

.about-box a{
    border-bottom: 0.5px solid rgb(80, 80, 80);
    transition: 0.5s;
}

.about-box a:hover{
    border-bottom: 1px solid black;
}



.main-container{
    display: grid;
grid-template-columns: repeat(auto-fit,18rem);
grid-gap: 5rem;
place-content: center;
place-items: center;
padding: 1rem;
}